<div class="ttt-wrapper">
  @if (!gameState) {
    <p class="waiting">Esperando que el juego comience...</p>
  } @else {
    <div class="board">
      @for (row of size; track row) {
        <div class="row">
          @for (col of size; track col) {
            <div [class]="cellClass(row, col)" (click)="play(row, col)">
              <span class="symbol">{{ cellSymbol(row, col) }}</span>
            </div>
          }
        </div>
      }
    </div>

    @if (isTerminal()) {
      <div class="result-banner">
        @if (gameState.draw) {
          <span><i class="fa-solid fa-handshake"></i> ¡Empate!</span>
        } @else if (gameState.winner === myUid) {
          <span><i class="fa-solid fa-trophy"></i> ¡Ganaste!</span>
        } @else {
          <span><i class="fa-solid fa-skull"></i> Perdiste</span>
        }
      </div>
    }
  }
</div>
